version: '3.9'
services:
  mediamtx:
    image: bluenviron/mediamtx:1.15.2@sha256:0d5896013461cb8fd8481b1cece162e7a7af82398aba2f6924f7c7a2bad1924b
    hostname: mediamtx
    container_name: mediamtx__mediamtx
    restart: unless-stopped

    ports:
      - 1935:1935
      - 554:8554

    volumes:
      - type: bind
        source: ./mediamtx.yml
        target: /mediamtx.yml
        read_only: true

    networks:
      - default
      
    deploy:
      resources:
        limits:
          memory: 1024m

  cloudflared:
    image: cloudflare/cloudflared:2025.11.1-amd64@sha256:f751174c3d8ae54b12575af320a4aa01bb3b6e61ab82aa1e4f8ecac8a079ce61
    hostname: cloudflared
    container_name: mediamtx__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

networks:
  default:
    name: mediamtx__default
