version: '3.9'
services:
  mediamtx:
    image: bluenviron/mediamtx:1.16.1@sha256:601952da6a9bcc6e833675d86eb177a05403e29f95810d36dbcefceb45c7e3f4
    hostname: mediamtx
    container_name: mediamtx__mediamtx
    restart: unless-stopped

    ports:
      - 1935:1935
      - 554:8554

    volumes:
      - type: bind
        source: ./mediamtx.yml
        target: /mediamtx.yml
        read_only: true

    networks:
      - default
      
    deploy:
      resources:
        limits:
          memory: 1024m

  cloudflared:
    image: cloudflare/cloudflared:2026.2.0-amd64@sha256:d4d2bf56c792ab207fa557c2431c250bfc8e4114d7e28c98eda1896bf65f10f6
    hostname: cloudflared
    container_name: mediamtx__cloudflared
    restart: unless-stopped

    environment:
      TUNNEL_METRICS: 0.0.0.0:9126
      TUNNEL_LOGFILE: /dev/stdout

    command: tunnel run --token ${TUNNEL_TOKEN}
    user: root

    networks:
      default:

    deploy:
      resources:
        limits:
          memory: 128m

networks:
  default:
    name: mediamtx__default
